.item-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    }
.counter-controls {
    display: flex;
    margin-bottom: 10px;
    }
.button {
    background-color: #f87bc0;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
.button:hover {
    background-color: #b34884;
}
.button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
    }
span{
    width: 70px;
}